.label {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

.input {
  flex: 1;
}

.input input {
  border: 1px solid #E9ECEF;
  font-size: 14px;
}

.addButton {
  background-color: #4263EB;
}

.addButton:hover {
  background-color: #3B5BDB;
}

.addButton:disabled {
  background-color: #BAC8FF;
}

.pillsContainer {
  margin-top: 8px;
}

.pill {
  background-color: #F1F3F5;
  color: #000;
  font-size: 12px;
  font-weight: 400;
  border-radius: 16px;
  padding: 6px 12px;
  height: 28px;
}

.pill span {
  display: flex;
  align-items: center;
  height: 100%;
}

.pill button {
  color: #868E96;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
